
}
@media only screen and (max-width: 300px) {
    #small{@media only screen and (max-width: 300px) {
    #small{
        background-color: red;
        display: block-inline;
    }
    

    } 



@media only screen and (max-width: 768px){
    #medium{
        background-color: green;
        display: flex;
        .col-1 {width: 66%;}
        .col-2 {width: 33%;}
        .col-3 {width: 100%;}

    }
}


@media only screen and (min-width: 768px){
   #large{ 
    background-color: blue;
    display: inline-flex;
   }
}
        background-color: red;
        display: block;
    }
    
}



@media only screen and (max-width: 768px){
    #medium{
        background-color: green;
        display: flex;
    }
}


@media only screen and (min-width: 768px){
   #large{ 
    background-color: blue;
    display: inline-flex;
   }
}
