  /* For mobile phone */
@media only screen and (min-width: 0px ) and (max-width:299px) {
    body{
        background-color: red;
    }
    .display{
       display: block;
    }
    #small{
        font-size: 8px;
    }
    #medium{
        display: none;
    }
    #large{
        display: none;
    }
}

/* For tablet */
@media only screen and (min-width: 300px) and (max-width:768px) {
    body{
        background-color: green;
    }
    .display{
        
    }
    #small{
        display: none;
        
    }
    #medium{
       font-size: 15px;
       width: 33%;
    }
    #large{
        display: none;
        
    }
    .medium-1{
        width: 66%;
    }
    .medium-2{
        width: 33%;
    }
    .medium-3{
        width: 100%;
    }
}

/* For desktop */
@media only screen and (min-width: 768px) {
    body{
        background-color: blue;
    }
    .display{
        display: block;
        margin: auto;
    }
    #small{
        display: none;
    }
    #medium{
        display: none;
    }
    #large{
        font-size: 25px;
    }
    
}
